<div class="form-container container-fluid">
  <div class="creationForm">
    <form #createEntryForm="ngForm"  (ngSubmit)="create(createEntryForm.value)">
      <div class="row form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" #name="ngModel" [ngClass]="{'hasError': !name.valid && name.touched}" id="name" name="name"
          placeholder="Name" required minlength="1" ngModel>
        <small class="form-text" [ngClass]="{'visible text-danger': !name.valid && name.touched}">Name can't be empty</small>
      </div>
      <div class="row form-group">
        <label for="data">Data</label>
        <input type="text" class="form-control" #dataFromUser="ngModel" [ngClass]="{'hasError': !dataFromUser.valid && dataFromUser.touched}"
          id="dataFromUser" name="dataFromUser" placeholder="Data" required ngModel>
        <small class="form-text" [ngClass]="{'visible text-danger': !dataFromUser.valid && dataFromUser.touched}">Data can't be empty</small>
      </div>
      <div class="row form-group">
        <button type="submit" class="btn btn-primary col-md-4" [disabled]="!createEntryForm.valid">Create Entry</button>
      </div>
    </form>
  </div>
</div>