# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/DropTop.Web/dist
/DropTop.Web/tmp
/DropTop.Web/out-tsc

# dependencies
/DropTop.Web/node_modules

# IDEs and editors
/DropTop.Web/.idea
/DropTop.Web/.project
/DropTop.Web/.classpath
/DropTop.Web/.c9/
/DropTop.Web/*.launch
/DropTop.Web/.settings/
/DropTop.Web/*.sublime-workspace

# IDE - VSCode
/DropTop.Web/.vscode/*
/DropTop.Web/!.vscode/settings.json
/DropTop.Web/!.vscode/tasks.json
/DropTop.Web/!.vscode/launch.json
/DropTop.Web/!.vscode/extensions.json

# misc
/DropTop.Web/.sass-cache
/DropTop.Web/connect.lock
/DropTop.Web/coverage
/DropTop.Web/libpeerconnection.log
/DropTop.Web/npm-debug.log
/DropTop.Web/yarn-error.log
/DropTop.Web/testem.log
/DropTop.Web/typings

# System Files
/DropTop.Web/.DS_Store
/DropTop.Web/Thumbs.db
/DropTop.Web/extension/extension.zip
/DropTop.Web/extension/Firefox/Firefox.zip
