<div class="dataTile" [ngClass]="{'deleted': tileDeleted}">
  <h2 class="dataName">{{ data.name }}</h2>
  <a class="h5" href="{{dataURL}}" target="_blank" *ngIf="isURL">{{ data.data }}</a>
  <span *ngIf="!isURL">{{ data.data }}</span>
  <textarea class="clipboardArea" #clipboardArea [attr.disabled]="disabled ? '' : null">{{ data.data }}</textarea>
  
  <div class="row">
    <h6 class="col-6">{{ data.dateCreated | date: 'dd/MM/yyyy hh:mm' }}</h6>
    <i class="col-2 far fa-edit" (click)="editTile()"></i>
    <i class="col-2 far fa-clipboard" [ngClass]="{'hidden': clipboardCopied}" (click)="copyTileData(clipboardArea)"></i>
    <i class="col-2 fas fa-check" [ngClass]="{'visible': clipboardCopied}"></i>
    <i class="col-2 far fa-trash-alt delete" (click)="deleteTile()"></i>
  </div>
</div>
