<div class="form-container container-fluid">
    <div class="logoContainer">
        <img alt="Logo Placeholder" src="../../assets/images/Placeholder.png">
    </div>
    <div class="userForm">
        <div class="row">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username">
            <small class="form-text text-muted">Username</small>
        </div>
        <div class="row">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" placeholder="Password">
            <small class="form-text text-muted">Password</small>
        </div>
        <div class="row">
            <label for="password">Confirm Password</label>
            <input type="text" class="form-control" id="confirmPassword" placeholder="Confirm Password">
            <small class="form-text text-muted">Confirm Password</small>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary col-md-4">Register</button>
            <div class="col-md-8 loginLinkContainer"><a [routerLink]="['/login']">Already have an account?</a></div>
        </div>
    </div>
</div>