<div class="dataTile">
  <h2>{{ data.name }}</h2>
  <a class="h5" href="{{dataURL}}" target="_blank" *ngIf="isURL">{{ data.data }}</a>
  <span *ngIf="!isURL">{{ data.data }}</span>
  <textarea class="clipboardArea" #clipboardArea>{{ data.data }}</textarea>
  
  <div class="row">
    <h6 class="col-6">{{ data.dateCreated | date: 'dd/MM/yyyy hh:mm' }}</h6>
    <i class="col-2 far fa-edit"></i>
    <i class="col-2 far fa-clipboard" (click)="copyTileData(clipboardArea)"></i>
    <i class="col-2 far fa-trash-alt delete" (click)="deleteTile()"></i>
  </div>
</div>
